{% extends "layout.html" %}

{% set bodyId = "page-cursos" %}

{% block title %}

    <title>Cursos</title>

{% endblock title %}


{% block content %}

    <header>
        <a href="/">
            <img  src="/assets/projetos criativos.svg" alt="imagem projetos criativos">
        </a>
        <nav>
          <li><a href="/">Início</a></li>
          <li><a href="#" onclick="onOff()">Novo Curso</a></li>
        </nav>
    </header>
    <section id="title">
        <p>em exibição</p>
        <h1>Cursos</h1>
    </section>
    <main>
        <section>
            <section id="ideias">
                {% include "all_cursos.html"%}
            </section>
        </section>
    </main>
{% endblock %}
